.page-center {
  display: flex;
  align-items: center;
  margin-top: 140px;
}

.resolve-panel {
  display: block;
  margin: 0 auto;
  text-align: center;
}

footer h6 {
  font-weight: 700;
  color: gray;
}

footer a {
  color: #1b7f98;
  text-decoration: none;
}

.nav-link strong {
  color: #35badb;
}

.main-nav {
  border-bottom: 1px solid darkgrey;
}

.pidmr-logo-sm {
  width: 100px;
  margin: 5px;
}

.pidmr-logo-xsm {
  width: 70px;
  margin: 5px;
}

.info {
  min-height: 4rem;
  padding: 5px;
  margin-top: 10px;
  background: #ffffed;
  border: 1px solid rgb(230 226 179);
  border-radius: 0.375rem;
}

.fillin {
  cursor: pointer;
  border-bottom: 1px dashed #6c757d;
}

.fillin:hover {
  background-color: blanchedalmond;
}

.result-card {
  width: 100%;
  margin: auto;
  margin-bottom: 10px;
  background-color: #f0f2f5;
  border: 1px solid #e9ecef;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.1);
}

.result-card .card-body {
  padding: 6px 24px;
}

.result-card .type-heading {
  font-size: 20px;
  font-weight: bold;
  color: #495057;
}

.result-card .status-badge {
  padding: 4px 12px;
  font-size: 15px;
  letter-spacing: 0.9px;
  font-weight: bold;
  border-radius: 16px;
}

.result-card .status-badge.bg-success {
  color: #28a745 !important;
  border: 1px solid rgba(40, 167, 69, 0.2);
  background-color: rgba(40, 167, 69, 0.1) !important;
}

.result-card .status-badge.bg-danger {
  color: #dc3545 !important;
  border: 1px solid rgba(220, 53, 69, 0.2);
  background-color: rgba(220, 53, 69, 0.1) !important;
}

.result-card .example-text {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #6c757d;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  word-break: break-word;
}

.result-card .result-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  margin-bottom: 8px;
}

.result-card .result-info-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.result-card .result-actions-container {
  display: flex;
  gap: 8px;
}