.page-center{
  min-height:80vh;
  align-items: center;
  display:flex
}

.resolve-panel{
  max-width:600px;
  text-align: center;
  margin: 0 auto;
  display: block;
}


.nav-link strong{
  color: #35BADB;
}
.main-nav {
  border-bottom: 1px solid darkgrey;
}

.info {
  min-height:4rem;
  margin-top:10px;
  border:1px solid rgb(230, 226, 179);
  background:#ffffed;
  padding:5px;
  border-radius: .375rem;
}

.fillin{
  border-bottom:dashed;
  cursor:pointer;
}

.fillin:hover{
  background-color: blanchedalmond;
}

.resolve-btn{
  margin-left:0.6rem;
}

.btn-ico{
 margin-top:-0.2rem;
 margin-right:0.4rem;
}