.page-center {
  display: flex;
  align-items: center;
  min-height: 80vh;
}

.resolve-panel {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.nav-link strong {
  color: #35badb;
}

.main-nav {
  border-bottom: 1px solid darkgrey;
}

.info {
  min-height: 4rem;
  padding: 5px;
  margin-top: 10px;
  background: #ffffed;
  border: 1px solid rgb(230 226 179);
  border-radius: 0.375rem;
}

.fillin {
  cursor: pointer;
  border-bottom: dashed;
}

.fillin:hover {
  background-color: blanchedalmond;
}

.resolve-btn {
  margin-left: 0.6rem;
}

.btn-ico {
  margin-top: -0.2rem;
  margin-right: 0.4rem;
}
